@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'home.css';

/* Các styles tùy chỉnh của bạn */
.font-otomanopee {
    font-family: 'Otomanopee One', sans-serif;
}

.font-amaranth {
    font-family: 'Amaranth', sans-serif;
}

.font-instrument {
    font-family: 'Instrument Sans', sans-serif;
}

.bg-primary {
    background-color: #f79576;
}

.bg-primary-light {
    background-color: #ffdcc9;
}

.bg-primary-dark {
    background-color: #f57c54;
}

.nav-link {
    position: relative;
    padding: 8px 16px;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
    border: 2px solid transparent;
    border-radius: 4px;
    color: black;
    font-size: 1.125rem;
}

.nav-link:hover {
    color: white;
    background-color: #f79576;
    border-color: #f79576;
}

/* Styles for the Detail submenu */
.detail-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.detail-item:hover .detail-submenu {
    display: block;
}